@page "/sample-3"
@model Demo.OpenAI.Pages.Sample3Model
@{
}

<span class="divider-center text-cap mb-8">Before</span>
<div class="columns small-12 medium-12 large-9" style="padding-top: 30px; padding-bottom: 30px;">
    <div class="block-container no-bottom-padding">
        <div class="vacancy-info-container text-small">
            <h2>Route Trainee</h2>
            <h4 class="job-subtitle">Responsibilities/Duties:</h4>
            <div class="job-purpose">At Pepsi, we spread home-grown joy, in our special Pepsi Bottling Ventures way! Pepsi Bottling Ventures is the nation’s largest private bottler and distributor of Pepsi beverages. Pepsi Bottling Ventures is based in NC, SC, MD, & DE.</div>
            <h4 class="job-subtitle">Purpose of the Job:</h4>
            <div class="job-purpose">Delivering and merchandising product, which includes placing orders, stocking shelves, rotating shelved product, setting up displays, cooler stocking/rotation, storage room organization, and movement of product from storage to the sales floor. The job also requires the ability to use handheld to order product and/or run invoices.</div>
            <h4 class="job-subtitle">Job Duties:</h4>
            <div class="job-list">
                <ul>
                    <li>Drives and maneuvers a truck having a gross vehicle weight of under 26,000 pounds. Also, operates a company car/pick-up.</li>
                    <li>Fills and merchandises all coolers, displays, racks, shelves, and/or vendors in accordance with PBV standards.</li>
                    <li>Delivers and places orders/runs invoices in accounts, creates and utilizes point of sale signage.</li>
                    <li>Sells and executes all promotions</li>
                    <li>Services all customers as scheduled.</li>
                    <li>Verifies all cases and monies are correct at the end of the day and invoices signed by customers.</li>
                    <li>Communicates with customers and co-workers.</li>
                    <li>Follows company rules and regulations.</li>
                    <li>Other duties as assigned based on business channel.</li>
                </ul>
            </div>
            <h4 class="job-subtitle">Minimum Requirements:</h4>
            <div>
                <div class="job-list">
                    <ul>
                        <li>High school diploma or GED highly preferred.</li>
                        <li>Three to five years of relevant work experience may be considered, in lieu of high school diploma or GED.</li>
                        <li>Valid Driver’s License is required.</li>
                        <li>Must be able to obtain a DOT Medical card.</li>
                        <li>Must have a positive attitude and must be detail-oriented.</li>
                        <li>Must be able to perform basic financial calculations such as addition, subtraction, multiplication, and division.</li>
                        <li>Good oral and written communication skills.</li>
                        <li>Must be able to perform heavy physical labor for extended periods of time.</li>
                        <li>Able to work in a fast paced, ever-changing environment.</li>
                        <li>Self-starter with excellent follow-up skills.</li>
                        <li>Ability to work in a team environment.</li>
                        <li>Must meet PBV driving qualifications.</li>
                        <li>Able to work hours necessary to complete assigned tasks.</li>
                        <li>Must be able to speak, read, and write English.</li>
                        <li>Must be 21 years of age.</li>
                        <li>Must be able to obtain an ABC Salesman or Solicitor Permit.</li>
                    </ul>
                </div>
            </div>
            <h4 class="job-subtitle">Physical Requirements:</h4>
            <div>
                <div class="job-list">
                    <ul>
                        <li>Constantly (34%-66%) required to walk, stand, lift up to 85 pounds and push/pull 300 – 2400 pounds with the assistance of a pallet jack.</li>
                    </ul>
                </div>
            </div>
            <h4 class="job-subtitle">We offer competitive pay and great benefits including:</h4>
            <div>
                <div class="job-list">
                    <ul>
                        <li>Two Medical Options</li>
                        <li>Dental Insurance</li>
                        <li>Vision Insurance</li>
                        <li>FSA / HSA Accounts</li>
                        <li>401(K), with up to 5% Pepsi Match</li>
                        <li>Paid Personal Days after 60 days of employment</li>
                        <li>Paid Vacation Days after 5 months of employment</li>
                        <li>9 Paid Holidays, eligibility begins day 1.</li>
                        <li>Company Paid Life Insurance</li>
                        <li>Company Paid Short & Long Term Disability</li>
                        <li>Legal Plan Access</li>
                        <li>Educational Assistance/Tuition Reimbursement, up to $3,000 a year</li>
                        <li>Comprehensive Work/Life Wellness Program (EAP)</li>
                        <li>Opportunities for career growth and development</li>
                    </ul>
                </div>
            </div>
            <div class="job-purpose"><b>And so much more...</b></div>
            <h4 class="job-subtitle">Join the Pepsi Family Today!</h4>
            <div class="job-purpose"><b>Unfortunately, we will be unable to offer visa sponsorships to candidates.</b></div>
            <h4 class="job-subtitle">EOE M/F/D/V</h4>
            <div class="job-purpose">We are an Equal Opportunity Employer and do not discriminate against any employee or applicant for employment because of race, color, sex, age, national origin, religion, sexual orientation, gender identity, status as a veteran, and basis of disability or any other federal, state or local protected class. </div>
        </div>
    </div>
</div>

<span class="divider-center text-cap mb-8">After</span>
<div class="columns small-12 medium-12 large-9" style="padding-top: 30px; padding-bottom: 30px;">
    <div class="block-container no-bottom-padding">
        <div class="vacancy-info-container text-small">
            <h2>Delivery Associate</h2>
            <h4 class="job-subtitle">Company Description:</h4>
            <div class="job-purpose">We are a leading distributor of Pepsi beverages in the southeastern United States. Our mission is to spread joy through our high-quality products and exceptional customer service. We believe in providing a positive and inclusive work environment where all employees can thrive.</div>
            <h4 class="job-subtitle">Job Summary:</h4>
            <div class="job-purpose">As a Delivery Associate, you will be responsible for delivering and merchandising Pepsi products to our customers. This includes placing orders, stocking shelves, rotating shelved product, setting up displays, cooler stocking/rotation, storage room organization, and movement of product from storage to the sales floor. The job also requires the ability to use handheld devices to order products and/or run invoices. You will be expected to provide exceptional customer service and maintain positive relationships with our customers.</div>
            <h4 class="job-subtitle">Responsibilities:</h4>
            <div class="job-list">
                <ul>
                    <li>Deliver and merchandise Pepsi products to customers in a timely and efficient manner</li>
                    <li>Place orders, stock shelves, rotate shelved product, set up displays, and stock coolers according to company standards</li>
                    <li>Use handheld devices to order products and/or run invoices</li>
                    <li>Provide exceptional customer service and maintain positive relationships with customers</li>
                    <li>Verify that all cases and monies are correct at the end of the day and that invoices are signed by customers</li>
                    <li>Communicate effectively with customers and co-workers</li>
                    <li>Follow company rules and regulations</li>
                    <li>Other duties as assigned based on business needs</li>
                </ul>
            </div>
            <h4 class="job-subtitle">Requirements:</h4>
            <div>
                <div class="job-list">
                    <ul>
                        <li>High school diploma or GED preferred</li>
                        <li>Valid Driver’s License required</li>
                        <li>Must be able to obtain a DOT Medical card</li>
                        <li>Must have a positive attitude and be detail-oriented</li>
                        <li>Basic math skills required (addition, subtraction, multiplication, and division)</li>
                        <li>Good oral and written communication skills</li>
                        <li>Must be able to perform heavy physical labor for extended periods of time</li>
                        <li>Able to work in a fast-paced, ever-changing environment</li>
                        <li>Self-starter with excellent follow-up skills</li>
                        <li>Must be able to speak, read, and write English</li>
                        <li>Must be willing to work flexible hours as needed</li>
                    </ul>
                </div>
            </div>
            <h4 class="job-subtitle">We offer competitive pay and great benefits including:</h4>
            <div>
                <div class="job-list">
                    <ul>
                        <li>Two Medical Options</li>
                        <li>Dental Insurance</li>
                        <li>Vision Insurance</li>
                        <li>FSA / HSA Accounts</li>
                        <li>401(K), with up to 5% Pepsi Match</li>
                        <li>Paid Personal Days after 60 days of employment</li>
                        <li>Paid Vacation Days after 5 months of employment</li>
                        <li>9 Paid Holidays, eligibility begins day 1.</li>
                        <li>Company Paid Life Insurance</li>
                        <li>Company Paid Short & Long Term Disability</li>
                        <li>Legal Plan Access</li>
                        <li>Educational Assistance/Tuition Reimbursement, up to $3,000 a year</li>
                        <li>Comprehensive Work/Life Wellness Program (EAP)</li>
                        <li>Opportunities for career growth and development</li>
                    </ul>
                </div>
            </div>
            <div class="job-purpose">We are an Equal Opportunity Employer and do not discriminate against any employee or applicant for employment because of race, color, sex, age, national origin, religion, sexual orientation, gender identity, status as a veteran, and basis of disability or any other federal, state or local protected class.</div>
            <div class="job-purpose"><b>Note: We are unable to offer visa sponsorships to candidates.</b></div>
        </div>
    </div>
</div>