@page "/sample-1"
@model Demo.OpenAI.Pages.Sample1Model
@{
}

<span class="divider-center text-cap mb-8">Before</span>
<div class="columns small-12 medium-12 large-9" style="padding-top: 30px; padding-bottom: 30px;">
    <div class="block-container no-bottom-padding">
        <div class="vacancy-info-container text-small">
            <h2>Salesman</h2>
            <div class="job-purpose">We are looking for individuals who are eager to develop and apply their skills in ways that make a positive impact to communities. Here, you’ll be proud to be a part of a company known for putting safety and people first, combined with uncompromising integrity.</div>
            <h4 class="job-subtitle">Job Description</h4>
            <div class="job-purpose">As a Sales Consultant, you be responsible for selling product lines to residential and light commercial accounts. Ideal candidate will have experience in sales in the construction industry and will be someone who is motivated and aggressive in finding new accounts and building trusted relationships. </div>
            <h4 class="job-subtitle">Here is a glimpse of what you will do:</h4>
            <div class="job-list">
                <ul>
                    <li>Identify prospective customers and consistently generate and follow up on leads.</li>
                    <li>Conduct daily sales calls, provide proposals, generate new business leads and manage accounts.</li>
                    <li>Provide product knowledge and expertise to customers, recommending materials and services based on customers’ needs and interests.</li>
                    <li>Understand the market that you serve, monitor market conditions, product innovations and competitors’ products, prices and sales.</li>
                    <li>Meet monthly sales targets.</li>
                    <li>Communicate company safety program to customers at the inception of sale by inspecting job sites to identify any safety concerns.</li>
                    <li>Manages customer experience from initial sale to project completion.</li>
                </ul>
            </div>
            <h4 class="job-subtitle">Here is some of what you will need (required):</h4>
            <div>
                <div class="job-list">
                    <ul>
                        <li>3+ years of sales experience in building products/construction</li>
                        <li>Must be a min of 18 years of age and have a valid Driver’s License.</li>
                        <li>Clear Post Offer Drug Screen.</li>
                    </ul>
                </div>
            </div>
            <h4 class="job-subtitle">What we offer:</h4>
            <div>
                <div class="job-list">
                    <ul>
                        <li>Base + Commissions.</li>
                        <li>Paid Holiday and Paid Time Off.</li>
                        <li>Medical, Dental and Vision.</li>
                        <li>401K Matching.</li>
                        <li>Life & Disability Insurance.</li>
                        <li>Employee Purchase and Assistance Plans.</li>
                    </ul>
                </div>
            </div>
            <div class="job-purpose">TopBuild Corp. is an equal opportunity employer. EOE Protected Veterans/Disability. TopBuild Corp. (NYSE: BLD) is the leading installer and distributor of insulation and building material services nationwide. With over 220+ TruTeam and 75+ Service Partners locations across the United States, there are a variety of career opportunities awaiting you!</div>
        </div>
    </div>
</div>

<span class="divider-center text-cap mb-8">After</span>
<div class="columns small-12 medium-12 large-9" style="padding-top: 30px; padding-bottom: 30px;">
    <div class="block-container no-bottom-padding">
        <div class="vacancy-info-container text-small">
            <h2>Sales Consultant</h2>
            <div class="job-purpose">We are looking for individuals who are eager to develop and apply their skills in ways that make a positive impact on communities. At our company, we prioritize safety, integrity, and putting people first.</div>
            <h4 class="job-subtitle">Job Description</h4>
            <div class="job-purpose">As a Sales Consultant, you will be responsible for selling product lines to residential and light commercial accounts. We are seeking candidates who have experience in sales and are passionate about building trusted relationships with new and existing customers.</div>
            <h4 class="job-subtitle">Responsibilities:</h4>
            <div class="job-list">
                <ul>
                    <li>Identify prospective customers and consistently generate and follow up on leads.</li>
                    <li>Conduct daily sales calls, provide proposals, generate new business leads and manage accounts.</li>
                    <li>Provide product knowledge and expertise to customers, recommending materials and services based on customers’ needs and interests.</li>
                    <li>Understand the market that you serve, monitor market conditions, product innovations and competitors’ products, prices and sales.</li>
                    <li>Meet monthly sales targets.</li>
                    <li>Communicate the company's safety program to customers by inspecting job sites to identify any safety concerns.</li>
                    <li>Manage the customer experience from initial sale to project completion.</li>
                </ul>
            </div>
            <h4 class="job-subtitle">Requirements:</h4>
            <div>
                <div class="job-list">
                    <ul>
                        <li>3+ years of sales experience</li>
                        <li>A valid driver's license</li>
                        <li>Ability to pass a post-offer drug screen</li>
                    </ul>
                </div>
            </div>
            <h4 class="job-subtitle">We offer:</h4>
            <div>
                <div class="job-list">
                    <ul>
                        <li>Base + Commissions</li>
                        <li>Paid Holiday and Paid Time Off</li>
                        <li>Medical, Dental and Vision</li>
                        <li>401K Matching</li>
                        <li>Life & Disability Insurance</li>
                        <li>Employee Purchase and Assistance Plans</li>
                    </ul>
                </div>
            </div>
            <div class="job-purpose">TopBuild Corp. is an equal opportunity employer and welcomes candidates from all backgrounds. We encourage women, people of color, LGBTQ+ individuals, individuals with disabilities, and veterans to apply. With over 220+ TruTeam and 75+ Service Partners locations across the United States, there are a variety of career opportunities awaiting you!</div>
        </div>
    </div>
</div>